# ingnore the virtual environment
venv
# ignore copiled Python
*.pyc
# ignore SQLite database files
*.sqlite3

# Ignore test artifacts
src/.coverage
src/*.xml

# Ignore eggs
src/*egg-info

# Ignore build and test artifacts
target
reports

